* {
 margin: 0;
 padding: 0;
 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main {
 min-height: 100vh;
}
.header {
 background-color: #8dcf29;
 height: 7.5vh;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 30px;
 color: white;
 font-weight: bold;
}

.content {
 display: flex;
 justify-content: space-around;
}

.items-container {
 display: flex;
 flex-direction: column;
 margin: 40px;
}
.items-title {
 font-weight: 700;
 font-size: 25px;
}
.items-list {
 display: flex;
 flex-direction: column;
 margin-top: 20px;
}
.item {
 display: flex;
 justify-content: space-between;
}
.item-name {
 min-width: 300px;
 font-size: 20px;
}
.item-calories {
 font-size: 20px;
 font-weight: lighter;
}
.underline {
 height: 2px;
 width: 100%;
 background-color: grey;
 margin: 10px 0px;
}

.add-item {
 display: flex;
 flex-direction: column;
 margin: 40px;
 align-items: center;
}
.add-item-title {
 font-size: 25px;
 font-weight: 700;
 margin-bottom: 30px;
}
input {
 width: 300px;
 height: 35px;
 margin-bottom: 10px;
 padding-left: 10px;
 border: 1px solid grey;
 border-radius: 10px;
}

button {
 height: 35px;
 width: 310px;
 color: white;
 font-size: 20px;
 background-color: #8dcf29;
 border: 1px solid transparent;
 border-radius: 10px;
}